body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(89,9,121,1) 47%, rgba(113,8,130,1) 53%, rgba(255,0,181,1) 100%);
    font-family: sans-serif;
    box-sizing: border-box;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    width: 80vw;
    max-width: 80%;
    padding: 12px;
   background: rgba(2, 0, 36, 0.347);
}
#question-wrapper{
    padding: 10px;
    
   
}
 label{
    color: rgb(197, 192, 192);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    
}
h4{
    color:rgb(197, 192, 192) ;
}
h1{
    color:rgb(197, 192, 192);
    margin: 0;
}
#check-the-answers{
    border: 1px solid rgb(197, 192, 192);
    border-radius: 5px;
    color:rgb(197, 192, 192) ;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(89,9,121,1) 47%, rgba(113,8,130,1) 53%, rgba(255,0,181,1) 100%);
    padding: 10px;
    width: 150px;
    margin-top: 20px;
    font-weight: bold;
}
#check-the-answers:hover{
   transform: scale(1.2);
}
#check-the-answers:focus{
  border: 3px solid rgb(197, 192, 192);
}
.correct-answer{
    border: 2px solid green;
}

#score{
    color:rgb(197, 192, 192);
    font-size: 24px;
}
